<div id="<%= dom_id todo_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= todo_item.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Done:</strong>
    <%= todo_item.done %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Todo list:</strong>
    <%= todo_item.todo_list_id %>
  </p>

</div>
