<div class="py-2 px-3 bg-green-50 mb-5 text-green-800 font-medium rounded-lg inline-block">
  <% if @title.present? %>
    <div class="font-bold">
      <%= @title %>
    </div>
  <% end %>
  <%= @description %>
</div>
