<%= turbo_stream_from :todo_lists %>

<div class="w-full">
  <% if notice.present? %>
    <%= render AlertComponent.new(description: notice) %>
  <% end %>

  <% content_for :title, "Todo lists" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Todo lists</h1>
    <%= link 'New todo list', new_todo_list_path %>
  </div>

  <div id="todo_lists" class="min-w-full">
    <% @todo_lists.each do |todo_list| %>
      <%= render todo_list %>
    <% end %>
  </div>
</div>
